.button {
    background-color: rgb(13, 82, 72);
    color: white;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}
.button:hover, .button:active {
    background-color: rgb(18, 110, 101);
}
body {
    background-color: rgb(199, 199, 199);
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Arial", serif;
}

.submitButton{
    background-color: rgb(13, 82, 72);
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    border: none;
    font-size: medium;
    padding: 5px 15px;
    text-decoration: none;
}

.submitButton:hover, .submitButton:active {
    background-color: rgb(18, 110, 101);
}

header h1{
    color: white;
}

.menu ul{
    background-color: rgb(2, 169, 130);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.menu li{
    float: none;
}

header{
    text-align: center;
}

.menu a{
    padding: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 24%;
}

.column.middle {
  width: 48%;
}

.row{
  display: flex;
}


header{
    background-color: rgb(80, 69, 68);
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: rgb(80, 69, 68);
    margin-top: auto;
}

.table {
    margin:auto;
}

.slide{
    border-radius: 15px;
}

.slideCaption{
    background-color: lightgrey;
    border-radius: 15px;
}